.custom-modal .modal-dialog {
  width: 70vw; /* 70% of the viewport width */
  max-width: 80vw;
}
.mod{
  height: 95vh;
  margin-top: 10px;
}
.custom-modal .modal-content {
  border-radius: 10px;
  animation: fadeIn 0.5s ease-in-out;
}
.videpop{
  height: 60vh;
}

/* Add animation to the modal */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.9);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

@media (max-width: 768px) {
  .mod{
    margin-right: auto;
    margin-left: auto;
  }
}
